body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#646464+0,a1a2b3+72,a1a2b3+100 */
  background: #646464; /* Old browsers */
  background: -moz-linear-gradient(top, #646464 0%, #a1a2b3 72%, #a1a2b3 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #646464 0%,#a1a2b3 72%,#a1a2b3 100%);
  /*Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #646464 0%,#a1a2b3 72%,#a1a2b3 100%);
  /*W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 10000px;
  position: relative;
}

div {
  text-align: center;
}
div.cloudsright {
  height: 870px;
  background-image: url("img/clouds.png");
  width: 100%;
  position: absolute;
  z-index: 1;
}

div.cloudsleft {
  height: 870px;
  background-image: url("img/cloudsleft.png");
  width: 100%;
  position: absolute;
  z-index: 1;
}

#two {top: 870px;
      opacity: .75;}
#three {top: 1740px;
      opacity: .5;}
#four {top: 2610px;
      opacity: .25;}

div.many {
  background-image: url(img/many.png);
  height: 9000px;
  top: 1000px;
  opacity: .2;
  width: 100%;
  position: absolute;
  z-index: 2;
}

div.title {
  position: absolute;
  left: 35%;
  top: 0px;
  z-index: 5;
}
h1 {
font-family: 'Finger Paint', cursive;
font-size: 5em;
color: white;
}
div.author {
  position: absolute;
  left: 27%;
  top: 700px;
  z-index: 5;}
h2 {
font-family: 'Finger Paint', cursive;
font-size: 3em;
color: white;
}
h3 {
font-family: 'Finger Paint', cursive;
font-size: 7em;
color: white;
}
h6 {
  font-family: 'Finger Paint', cursive;
  font-size: 1.9em;
  color: white;
}

div.line1 {
  position: absolute;
  left: 31%;
  top: 1600px;
  z-index: 5;}
div.line2 {
  position: absolute;
  left: 32%;
  top: 2500px;
  z-index: 5;}
  div.line3{
    position: absolute;
    left: 30%;
    top: 3400px;
    z-index: 5;}
    div.line4 {
      position: absolute;
      left: 29%;
      top: 4300px;
      z-index: 5;}
      div.line5 {
        position: absolute;
        left: 31%;
        top: 5100px;
        z-index: 5;}
        div.line6 {
          position: absolute;
          left: 30%;
          top: 5800px;
          z-index: 5;}
          div.line7 {
            position: absolute;
            left: 32%;
            top: 6500px;
            z-index: 5;}
            div.line8 {
              position: absolute;
              left: 38%;
              top: 7200px;
              z-index: 5;}
              div.line9 {
                position: absolute;
                left: 34%;
                top: 7900px;
                z-index: 5;}

div.talk1{
  position: absolute;
  left: 20%;
  top: 4700px;
  z-index: 5;
}
div.talk2{
  position: absolute;
  left: 65%;
  top: 5400px;
  z-index: 5;
}
div.talk3{
  position: absolute;
  left: 20%;
  top: 6100px;
  z-index: 5;
}
div.talk4{
  position: absolute;
  left: 60%;
  top: 7000px;
  z-index: 5;
}
div.talk5{
  position: absolute;
  left: 60%;
  top: 7300px;
  z-index: 5;
}
div.talk6{
  position: absolute;
  left: 20%;
  top: 7700px;
  z-index: 5;
}
div.talk7{
  position: absolute;
  left: 25%;
  top: 8150px;
  z-index: 5;
}

div.bottom {
  background-image: url(img/dirt.png);
  position: absolute;
  top: 9400px;
  height: 600px;
  width: 100%;
  z-index: 3;
}

/*animations*/

.sister {
    width: 300px;
    height: 300px;
    background-image: url("img/sister.png");
    z-index: 3;
    position: relative;
    top: 4700px;
    left: 5%;



    -webkit-animation: talk .5s steps(2) infinite;
            animation: talk .5s steps(2) infinite;
}


@keyframes talk {
   from { background-position:    0px; }
     to { background-position: -600px; }
}

.brother {
    width: 300px;
    height: 300px;
    background-image: url("img/brother.png");
    z-index: 3;
    position: relative;
    top: 5100px;
    left: 80%;



    -webkit-animation: talk .5s steps(2) infinite;
            animation: talk .5s steps(2) infinite;
}

.baby {
    width: 250px;
    height: 250px;
    background-image: url("img/baby.png");
    z-index: 3;
    position: relative;
    top: 5550px;
    left: 5%;



    -webkit-animation: baby .5s steps(2) infinite;
            animation: baby .5s steps(2) infinite;
}


@keyframes baby {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

.sir {
    width: 300px;
    height: 300px;
    background-image: url("img/sir.png");
    z-index: 3;
    position: relative;
    top: 6250px;
    left: 75%;



    -webkit-animation: talk .5s steps(2) infinite;
            animation: talk .5s steps(2) infinite;
}

.fat {
    width: 400px;
    height: 400px;
    background-image: url("img/fat.png");
    z-index: 3;
    position: relative;
    top: 6650px;
    left: 5%;



    -webkit-animation: fat .5s steps(2) infinite;
            animation: fat .5s steps(2) infinite;
}


@keyframes fat {
   from { background-position:    0px; }
     to { background-position: -800px; }
}

div.single1 {
  width: 200px;
  height: 200px;
  background-image: url("img/single200.png");
  z-index: 3;
  position: absolute;
  top: 200px;
  left: 10%;
  -webkit-animation: one 1.8s ease-in-out infinite;
          animation: one 1.8s ease-in-out infinite;
}
.single2 {
  width: 100px;
  height: 100px;
  background-image: url("img/single100.png");
  z-index: 3;
  position: absolute;
  top: 350px;
  left: 80%;
  -webkit-animation: two 1.8s ease-in-out infinite;
          animation: two 1.8s ease-in-out infinite;
}
.single3{
  width: 100px;
  height: 100px;
  background-image: url("img/single100.png");
  z-index: 3;
  position: absolute;
  top: 500px;
  left: 25%;
  -webkit-animation: three 1.6s ease-in-out infinite;
          animation: three 1.6s ease-in-out infinite;
}
.single4{
  width: 50px;
  height: 50px;
  background-image: url("img/single50.png");
  z-index: 3;
  position: absolute;
  top: 210px;
  left: 32%;
  -webkit-animation: four 2s ease-in-out infinite;
          animation: four 2s ease-in-out infinite;
}/**/
.single5{
  width: 50px;
  height: 50px;
  background-image: url("img/single50.png");
  z-index: 3;
  position: absolute;
  top: 50px;
  left: 90%;
  -webkit-animation: five 1.7s ease-in-out infinite;
          animation: five 1.7s ease-in-out infinite;
}/**/
.single6{
  width: 50px;
  height: 50px;
  background-image: url("img/single50.png");
  z-index: 3;
  position: absolute;
  top: 270px;
  left: 75%;
  -webkit-animation: six 1.6s ease-in-out infinite;
          animation: six 1.6s ease-in-out infinite;
}/**/
.single7{
  width: 50px;
  height: 50px;
  background-image: url("img/single50.png");
  z-index: 3;
  position: absolute;
  top: 590px;
  left: 5%;
  -webkit-animation: seven 1.9s ease-in-out infinite;
          animation: seven 1.9s ease-in-out infinite;
}
.single8{
  width: 50px;
  height: 50px;
  background-image: url("img/single50.png");
  z-index: 3;
  position: absolute;
  top: 100px;
  left: 20%;
  -webkit-animation: eight 1.6s ease-in-out infinite;
          animation: eight 1.6s ease-in-out infinite;
}
.single9{
  width: 50px;
  height: 50px;
  background-image: url("img/single50.png");
  z-index: 3;
  position: absolute;
  top: 650px;
  left: 70%;
  -webkit-animation: nine 1.3s ease-in-out infinite;
          animation: nine 1.3s ease-in-out infinite;
}
.single10{
  width: 50px;
  height: 50px;
  background-image: url("img/single50.png");
  z-index: 3;
  position: absolute;
  top: 630px;
  left: 95%;
  -webkit-animation: nine 1.6s ease-in-out infinite;
          animation: nine 1.6s ease-in-out infinite;
}


  @keyframes one {
     50% { top: 210px; }
  }
  @keyframes two {
     50% { top: 330px; }
  }
  @keyframes three {
     50% { top: 530px; }
  }
  @keyframes four {
     50% { top: 230px; }
  }
  @keyframes five {
     50% { top: 70px; }
  }
  @keyframes six {
     50% { top: 250px; }
  }
  @keyframes seven {
     50% { top: 570px; }
  }
  @keyframes eight {
     50% { top: 70px; }
  }
  @keyframes nine {
     50% { top: 640px; }
  }
  @keyframes ten {
     50% { top: 610px; }
  }
/*JAVA ANIMATIONS*/

#drop {
    width: 500px;
    height: 500px;
    background-image: url("img/fallinganimationsmile.png");
    z-index: 4;
    position: fixed;
    top: 175px;
    left: 35%;

            -webkit-animation: float 2s ease-in-out infinite;
                    animation: float 2s ease-in-out infinite;

}

@keyframes drop {
   from { background-position:    0px; }
     to { background-position: -3000px; }
}
#float {
  -webkit-animation: float 2s infinite;
  animation: float 2s infinite;
}

@keyframes float {
   50% { top: 200px; }
}

#splash {
  -webkit-animation: splash;
  animation: splash;
}


@keyframes splash {
   100% { transform: scale(3,.5);
          top: -15px;
        }
}
